body{
    background-color: bisque;
    background-image: url("chocolate-10012140_1280.png");
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /*background-repeat: repeat-y;*/
    /*background-attachment: scroll;*/
    /*background-size: 60%;*/
    background-size: contain;
    /*background-size: cover;*/
    background-size: 50%;
    /* background-position: right;
    background-position: left;
    background-position: top;
    background-position: bottom; */
    /* background-position: left bottom;
    background-position: right bottom;
    background-position: left top;*/
    background-position: right top;
    background: linear-gradient(to left,lavender,violet,white,lightblue);
    background: linear-gradient(45deg,lightblue,lightpink);
    background: radial-gradient(circle,red,yellow);
    background: radial-gradient(ellipse at top left, lightyellow,grey);
}