.orange{
    height:250PX;
    width:1750PX;
    background-color:#FF9933
}
.white{
    height:250PX;
    width:1750PX;
    background-color: white;
}
.green{
    height:250PX;
    width:1750PX;
    background-color:#138808
}
.ashoka_chakra{
    text-align: center;
}