p{
    text-align: center;
    text-indent: 50px;
    /* text-decoration: overline;
    text-decoration: underline;
    text-decoration: line-through; */
    text-transform: capitalize;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 2;
    font-family: serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    /* font-weight: lighter, bolder, bold, 100-900, normal; */
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
}